

.container h2, h5 {
  text-align: center;
}

h2 {
  color: gray;
}

h5 {
  font-style: italic;
  color: maroon;
}


.listy {
  list-style: none;
  margin: 2rem;
  padding: 0;
}

.listy li {
  margin: 1rem 0;
  border: 1px solid #ccc;
  padding: 1rem;
}

.charty {
  margin: 100px 100px;
}

.banner {
  margin-top: 50px;
}